.header {
    margin-top: 34px;

    &-img {
        margin-right: 58px;
    }

    &-box {
        display: flex;
        align-items: center;
    }

    &-btn {
        color: #FFF;
        text-align: center;
        font-family: Space Mono;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        width: 180px;
        height: 53px;
        flex-shrink: 0;
        background: #FCB72B;
        border: transparent;
        margin-left: 511px;
    }

    &-btn:hover {
        background-color: white;
        border: 3px solid #FCB72B;
        color: #FCB72B;
        text-align: center;
        font-family: Space 'Mono';
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
    }
}

.header-list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-item {
    a {
        gap: 0 32px;
        color: #939CAA;
        font-family: Space 'Mono';
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;

    }
}

@media only screen and (max-width:700px) {
    .header {

        &-left-box {
            width: 100%;
            gap: 0;
            align-items: center;
        }

        &-img-link {
            margin: 0 auto;
        }

        &-img {
            width: 75px;
            height: 20px;
        }

        &-icon {

            order: -4;
            display: block;
        }

        &-list {
            display: none;
        }

        &-button {
            display: none;
        }
    }
}